html {
	scroll-behavior: smooth;
	transition: 0.5s;
}

body {
	font-family: source-code-pro, monospace;
	font-style: normal;
	font-weight: 400;
	font-size: 1.3vw;
	color: rgb(255,255,255);

	background-color: black;
	margin:0;
	transition: 0.3s;
}

p{
	line-height: 1.5em; 
}

h1, h2, h3, h4, h5{
	font-family: termina, sans-serif;
	font-style: normal;
	font-weight: 700;

	color: rgb(255,255,0);
}

h6 {
	font-family: termina, sans-serif;
	font-style: normal;
	font-weight: 400;

	color: rgb(255,255,0);
}

a {
	/*text-decoration: none;*/
	color: white;

	font-style: italic;
}
a:hover {
	color: rgb(200,200,200); 

	font-style: italic;
}
img{
	width: 100%;
  	max-height: 100%;
}
button {
	width: 100%;
	border: #ffff00 solid 1px;
	background: black;

	display: flex;
	align-items: center;

	font-family: source-code-pro, monospace;
	font-style: normal;
	font-weight: 400;
	font-size: 1vw;
	color: #ffff00;

	cursor: pointer;
}
/*-------------------------------universal assets-----------------------------------*/
.border{
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

/*	padding: 25px;*/
}
.bar{
	height:1px;
	width: 100%;
	background-color: rgb(255,255,0);

	margin-top: 50px;
	margin-bottom: 50px;
}
/*border for images with dark background*/
#dark{
	border: rgb(255,255,0) solid 1px;
	/*box-shadow:inset 0px 0px 0px 1px rgb(255,255,0);*/
}
/*border for text blocks*/
#dark-text-block{
	border: rgb(255,255,0) solid 1px;
	margin-bottom: 25px;
	padding: 10px;
}
/*explanatory. container style for images that are really tall vertically — requires scrolling*/
.long-scroll-image-container{
	height: 50vh;
	width: 100%;
	overflow-y: scroll;
	margin-bottom: 25px;
}
.long-scroll-image-container img{
	object-fit: cover;
	object-position: top;
	max-height: initial;
	margin-bottom: 0;
}
.drop-down-button{

}
.drop-down-container{
	width: 100%;
}
/*-------------------------------body grid-----------------------------------*/
.body-flex{
	display: inline-flex;
	flex-direction: wrap;
	max-width: 100%;
}
/*-------------------------------header / footer-----------------------------------*/
#header{
	z-index: 100;
	position: -webkit-fixed; /* Safari */
  	position: fixed;
  	width: 100vw;
  	top: 0;
  	left:0;
  	padding-left: 20px;
  	height: 70px;

  	background-color: black;

  	display: flex;
    justify-content: flex-start;
    align-items: center;
}

#header a {
	text-decoration: none;
	color: rgb(255,255,0) !important;

	font-style: normal;
}
#header a:hover {
	color: rgb(200,200,0) !important; 

	font-style: normal;
}

.footer{
	height: 100%;
    padding: 2em 20px;
    z-index: 100;
    background-color: black;
}

.footer h6{
    margin:0;
}

.back2top{
	position: fixed;
	right:30px;
	bottom:30px;
	z-index: 999;

	width:40px;
	height:40px;
	
	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;
	background-color:black;
}
.back2top-outline{
	position: relative;
    top:10px;
	left:10px;
    width:0px;
	height:0px;
	z-index: 999;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid rgb(255,255,0);
}

.back2top-outline:hover{
	position: relative;
    top:10px;
	left:10px;
    width:0px;
	height:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 20px solid rgb(200,200,0);
}


/*-------------------------------landing / title-----------------------------------*/
.title h1{
	font-size:1.75em;
	/*line-height: 2.5em;*/
	margin-bottom: 0;
	color: rgb(255,255,0);
}
/*.title h1, .title h2, .title h3, .title h4, .title h5{
	color: black;
}*/
.title-sub{
	font-style: italic;
	margin-top: 0;
	color:rgb(255,255,0);
}
/*-------------------------------about-----------------------------------*/
#about{
	top: 0;
    position: sticky;
    position: -webkit-sticky;

	order: 1;
    max-width: 33%;
    display: inline-flex;
    flex-direction: column;
    align-self: flex-start;
	padding-top: 100px;

	/*color: black;*/
}
#about > div{
	padding: 0 20px;
}

#about svg {
	/*stroke:#000000 !important;*/
}

#about a {
	font-style: initial; 
}
#about a:hover {
	opacity: 0.8;
}

.me{
	margin-top: 1em;
}
.contact{
	display: flex;
    align-items: center;
}.contact p{
	padding-left: 10px;
}
.contact-inline{
	/*width: 80%;*/
	column-gap: 2vw;
}
.contact-inline-details{
	display: flex;
    align-items: center;
    padding: 0 0 0 20px;
}

/*-------------------------------work-----------------------------------*/
#work{
	order: 2;
	max-width:67%;
	padding: 100px 20px 0 20px;
	background-color: black;
}
.workgrid{
	width: 100%;
    display: inline-flex;
    align-content: flex-start;
    grid-gap: 1vw;
    flex-direction: row;
    flex-wrap: wrap;
}
.workimg h2{
	padding: 0px;
	margin: 0px;

	color: black;
}
#work-feature{
	order: 2;
	max-width:67%;
	padding: 100px 20px 0 20px;
	background-color: black;
}
#work-feature img{
	margin-bottom: 25px;
}
#work-feature.tealeaves-creative-designer img{
	margin: 0;
}
/*grid blockquote specifically used in COB*/
.workgrid > blockquote {
	width:30% !important;
}
.flex-block{
	display: flex;
}
/*-------------------------------overlay images-----------------------------------*/
/* Main container */
.overlay-image {
 position: relative;
 max-width: 32%;
}

/* Original image */
.overlay-image .gridimg {
display: block;
/*min-width: 20vw;*/
height: auto;
}
/*centers homepage grid images to square block. usually for gif*/
.gridimg.homepage-not-square-image{
	object-fit: cover;
    object-position: center;
    height: 100%;
}
.overlay-image.block{
	overflow-y: auto;
	text-overflow: clip;

	border-style: solid;
	border-color: rgb(255,255,0);
	border-width: 1px;

	text-align: center;
	width: 100%;
}
/* Original text overlay */
.overlay-image .imgtxt{
	color: black;
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 100%;
 font-size:1.2vw;
}
.overlay-image h2{
	color: black !important;
}
/* New overlay on hover */
.overlay-image .hover {
 position: absolute;
 top: 0;
 height: 100%;
 width: 100%;
 opacity: 0;
 transition: .2s ease;
}
/* New overlay appearance on hover */
.overlay-image:hover .hover {
 opacity: 1;
}
/********* Background and text only overlay on hover *******/
.overlay-image .normal {
 transition: .2s ease;
}
.overlay-image:hover .normal {
 opacity: 0;
}
.overlay-image .hover {
 background-color: rgb(255,255,0);
}
/*_______________________________________slideshow gallery_______________________________________*/
/** {box-sizing:border-box}*/

/* Slideshow container */
.slideshow-container {
max-width: 99%;
position: relative;
}
/* Hide the images by default - these are class names specifically for the gallery in "utopia.html" */
.slideShow1, .slideShow2, .slideShow3, .slideShow4 {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
user-select: none;

background-color: rgba(0,0,0,0.75);
}

/* Position the "next button" to the right */
.next {
right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,1);
}

.prev.dark, .next.dark{
	filter: invert(1);
}
/* Caption text */
.text {
color: #f2f2f2;
font-size: 0.6em;
padding: 8px 12px;
/*position: absolute;*/
bottom: 0;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
/* Number text, but on a light background */
.numbertext.dark {
color: black;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}
/* Number text, but under TEALEAVES Creative Designer feature*/
/*.tealeaves-creative-designer .numbertext, .tealeaves-creative-designer .numbertext.dark {
    margin-top: 25px;
}*/
/**/
/**/
/*_______________________________________mobile_______________________________________*/
/**/
/**/
				@media screen and (max-width: 950px) and (min-width: 701px){
					body{
						font-size: initial;
					}
					.overlay-image {
						 max-width: 48%;
					}
					.overlay-image .imgtxt{
						font-size: 1.5vw;
					}
				}
										@media screen and (max-width: 700px){
											body{
												font-size: initial;
											}
											button{
												font-size: initial;
											}
											.body-flex{
												display: inline-flex;
												flex-direction: column;
												max-width: 100%;
											}
											#about{
												top: 0;
											    position: initial;

												order: 1;
											    max-width: 100vw;
											    display: inline-flex;
											    flex-direction: column;
											    align-self: flex-start;
												padding-top: 100px;
												padding-bottom: 20px;

												border-bottom: rgb(255,255,0) solid 1px;
											}
											#work{
												order: 2;
												max-width:100vw;
												padding: 50px 20px 0 20px;
											}
											#work-feature{
												order: 2;
												max-width:100vw;
												padding: 50px 20px 0 20px;
											}
											#work-feature img{
												margin-bottom: 25px;
											}
											.long-scroll-image-container{
												height: 200px;
											}
											.overlay-image {
												 max-width: 48%;
											}
											.overlay-image .imgtxt{
												font-size: 2vw;
											}

											.back2top{
											    bottom: 80px;
											}
											/*grid blockquote specifically used in COB*/
											.workgrid > blockquote {
												width:100% !important;
											}
										}